@import "swiper/scss";
@import "swiper/scss/effect-coverflow";
@import "swiper/scss/pagination";
@import "../../../../styles/media";

section.projects {
  position: relative;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  @include media(">=2000px") {
    min-height: 100%;
    max-height: var(--h-max);
  }

  header{
    margin-bottom: 1rem;
    h3{
      color: var(--blue);
      line-height: 1;

      strong{
        color: var(--white);
        line-height: 1;
      }
    }
  }
}

.swiper {
  position: relative;
  width: 100%;
  padding-top: 70px;
  padding-bottom: 100px;
  transform: scale(0);
  opacity: 0;
  animation: show 0.5s ease forwards;
  z-index: 20;

  .swiper-slide {
    width: 300px;
    aspect-ratio: 20/12;
    background-position: center;
    background-size: cover;
    transition: all 0.5s ease;

    @media screen and (min-width: 640px) {
      width: 400px;
    }
    @media screen and (min-width: 1400px) {
      width: 500px;
    }
    .card_image {
      display: block;
      width: 100%;
      height: 100%;
      transition: all 0.5s ease;

      img {
        position: relative;
        opacity: 1;
        width: 100%;
        // height: 100%;
        object-fit: cover;
        border-radius: 5px;
        transition: all 0.5s ease;
        border: 5px solid black;
        border-bottom: 18px solid black;
        box-shadow: 0px 0px 10px #00000061;
        z-index: 10;
      }
    }
    &.gived {
      img {
        opacity: 1;
      }
    }

    .detail {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 0%;
      opacity: 0;
      overflow: hidden;
      z-index: 70 !important;

      .text {
        * {
          box-sizing: border-box;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 1;
          overflow: hidden;
        }
        strong {
          color: var(--white);
          font-size: 17px;
        }

      }
      .link {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex: none;

        p {
          font-size: 13px;
          color: var(--white);
          margin-right: auto;
        }

        a {
          padding: 5px 10px;
          font-size: 15px;
          color: var(--white);
          text-decoration: none;
          font-weight: 600;
          transition: all .2s;

          &:hover{
            color: var(--blue);
          }

          .icon_color{
            font-size: 20px;
            // color: var(--white);
          }
        }
      }
      @media screen and (min-width: 640px) {
        .text {
          h5 {
            font-size: 20px;
          }
        }
        .link {
          a {
            font-size: 17px;
          }
        }
      }
    }

    &.swiper-slide-active {
      .card_image {
        padding: 0px;
      }
      .detail {
        width: 100%;
        opacity: 1;
        height: 85px;
        padding: 15px 5% 0;
        animation: card_down 1s;
        cursor: default;

        @keyframes card_down {
          0%{
            opacity: 0;
            transform: translateY(-30px);
          }
        }
      }
      .shadow {
        bottom: -20px;
      }
    }

    .shadow {
      display: block;
      width: 100%;
      height: 10px;
      background-color: #000000c6;
      position: absolute;
      bottom: -60px;
      border-radius: 50%;
      z-index: 10;
      filter: blur(10px);
    }
  }
}

.swiper-3d{
  .swiper-slide-shadow-left,
  .swiper-slide-shadow-right{
    background-image: none !important;
  }
}

#monitor{
  position: absolute;
  top: 39.5%;
  left: 50%;
  transform: translateX(-50%);
  width: 500px;
  object-fit: contain;
  z-index: 10;

  @media screen and (max-width: 1400px) {
    top: 39.5%;
    width: 400px;
  }

}

@keyframes show {
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.swiper-pagination-bullet{
  background: #fff;

  &.swiper-pagination-bullet-active{
    background: var(--blue);
  }
}
