<section class="projects">
  <header data-aos="fade-up">
    <h3> <strong class="f-32">02.</strong> {{ "projects" | translate }}</h3>
  </header>

  <swiper
    [effect]="'coverflow'"
    [grabCursor]="true"
    [centeredSlides]="true"
    [slidesPerView]="'auto'"
    [coverflowEffect]="{
      rotate: 50,
      stretch: 0,
      depth: 100,
      modifier: 1,
      slideShadows: true
    }"
    [loop]="true"
    [autoplay]="{ delay: 3000, disableOnInteraction: false }"
    [pagination]="{ clickable: true }"
    class="mySwiper"
  >
    @for (project of listProjects; track $index) {
      <ng-template swiperSlide>
        <div class="card_image">
          <img alt="" [src]="project.image" />
        </div>
        <div class="detail">
          <div class="text">
            <strong class="f-28">{{ project.name | translate }}</strong>
          </div>

          <div class="link">
            <p>{{ project.technology }} - {{ project.hosted }}</p>

            <a aria-label="link projeto" [href]="project.link" target="_blank">  {{ "access" | translate }} </a>
            <a aria-label="link do codigo no Github" [href]="project.link_project" target="_blank">
              <i icon="icon_github" class="icon_color"></i>
            </a>
          </div>
        </div>
        <span class="shadow"></span>
      </ng-template>
    }

  </swiper>


</section>
