section{
  position: fixed;
    width: 100%;
    height: 60px;
    padding: 0 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    transition: all .2s;
    backdrop-filter: blur(10px);
    // background: var(--bg_navbar);
    // box-shadow: 0 10px 30px -10px #020c1bb3;
    z-index: 900;

    &.scroll_down{
      top: -120px;
      animation-duration: 0.5s;
      animation-name: scroll-down;
    }

    &.scroll_up {
      animation-duration: 0.5s;
      animation-name: scroll-up;
    }

    strong{
      color: var(--white);
      font-weight: bold;
      cursor: pointer;
      text-shadow: -2px 2px 5px rgba(0, 0, 0, 0.35);

      span{
        color: var(--blue);
      }
    }

    nav{
      position: relative;
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 0 25px;

      figure{
        font-weight: bold;
        text-decoration: none;
        cursor: pointer;
        color: var(--white);
        display: flex;
        justify-content: center;
        align-items: center;

        img{
          width: 25px;
          aspect-ratio: 1/1;
          object-fit: contain;
        }
      }
    }
}

::ng-deep .mat-menu-content{
  .mat-menu-item{
    height: 35px !important;
    line-height: 1 !important;
    display: flex !important;
    justify-content: flex-start !important;
    align-items: center !important;
    gap: 10px !important;
    background: #ffffff21 !important;
    border-radius: 10px !important;
    margin: 8px 0 !important;

    img{
      width: 25px;
      aspect-ratio: 1/1;
      object-fit: contain;
    }

    p{
      color: var(--white);
    }
  }
}

@keyframes scroll-up {
  from {
    opacity: 0;
    top: -120px;
  }

  to {
    opacity: 1;
    top: 0;
  }
}

@keyframes scroll-down {
  from {
    opacity: 1;
    top: 0;
  }

  to {
    opacity: 0;
    top: -120px;
  }
}
