<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark cyan fixed-top" [containerInside]="false">

    <mdb-navbar-brand><a class="navbar-brand" href="#">Navbar</a></mdb-navbar-brand>

    <nav>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                <a class="nav-link waves-light" mdbWavesEffect>
                    Contact
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-light" mdbWavesEffect>
                    Settings
                </a>
            </li>

        </ul>
    </nav>

</mdb-navbar>

<router-outlet></router-outlet>