<section>
  <div class="brands-list">
    <div class="wrapper">
      <figure *ngFor="let skill of carousel.slider1">
        <img [src]="skill.img" height="100" width="250" alt="" />
      </figure>
    </div>
  </div>

  <div class="brands-list">
    <div class="wrapper reverse">
      <figure *ngFor="let skill of carousel.slider2">
        <img [src]="skill.img" height="100" width="250" alt="" />
      </figure>
    </div>
  </div>


  <div class="brands-list">
    <div class="wrapper">
      <figure *ngFor="let skill of carousel.slider3">
        <img [src]="skill.img" height="100" width="250" alt="" />
      </figure>
    </div>
  </div>
</section>
