.cdk-overlay-connected-position-bounding-box{
  position: fixed !important;
  top: 50px !important;
  left: auto !important;
  right: 20px !important;
  width: max-content !important;
  height: max-content !important;
  display: flex;
  justify-content: flex-end;
  box-shadow: none !important;
}

.mat-mdc-menu-panel{
  --mat-menu-container-color: transparent;
  box-shadow: none !important;

  .mat-mdc-menu-content{
    display: flex;
    // flex-direction: column;
    gap: 10px;
    padding: 0;

    .mat-mdc-menu-item{
      --mat-menu-item-leading-spacing: 8px;
      --mat-menu-item-trailing-spacing: 8px;

      width: max-content;
      height: 35px !important;
      min-height: 40px !important;
      line-height: 1 !important;
      display: flex !important;
      justify-content: flex-start !important;
      align-items: center !important;
      gap: 10px !important;
      background: #ffffff21 !important;
      border-radius: 10px !important;
      margin: 0 !important;
      cursor: pointer !important;

      .mat-mdc-menu-item-text{
        display: flex;
        align-items: center;
        gap: 10px;

        img{
          width: 25px;
          aspect-ratio: 1/1;
          object-fit: contain;
        }

        p{
          color: var(--white);
        }
      }
    }
  }
}
