$base-font-size: 19;
$min-font-size: 10;
$max-font-size: 52;

@for $i from $min-font-size through $max-font-size {
  $class-name: '.fd-#{$i}';

  #{$class-name} {
    font-size: calc($i / $base-font-size * 1rem);
  }
}

.one-line {
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}

@for $i from $min-font-size through $max-font-size {
  $class-name: '.f-#{$i}';

  #{$class-name} {
    font-size: calc($i / $base-font-size * 1rem) !important;
  }
}
