:root{
  --ts: all 0.3s ease-in-out;
  --h-max: 900px;
  --w-max: 1460px;

  --bg-primary: #041328;
  --bg_navbar: rgba(0, 0, 0, 0.1);
  --bg_black: rgba(0, 0, 0, 0.3);

  --colorBlue: #01c6ff;
  --colorGreen: #01ffb9;
  --colorRed: #e64849;

  --white: #ffffff;
  --gray: #D9D9D9;
  --blue: #0066ff;
  --blue-dark: #0c1c3f;
  // --background-effect: #102655;

  --gray-primary: #1A1A1A;
  --gray-secondary: #282828;

  --shadow: rgba(0, 0, 0, 0.3);

  // ? Game Boy
  --game-boy-off: #b0bd58;
  --game-boy-on: #8dba2b;
  --pixel: #244630;
  --pixel_light: #447229;
  --pixel_dark: #1e4431;
}
