.clip_path{
    width: 100%;

    &.left{
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 100%);
    }

    &.right{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 0);
    }

    &.top{
        position: absolute !important;
        top: 0 !important;
    }

    &.down{
        position: absolute !important;
        bottom: 0 !important;
    }

    &.inverse{
        transform: rotateX(180deg);
    }

    &.gray{
        background-color: var(--bg-primary) !important;
    }
    &.blue{
        background-color: var(--bg-secondary) !important;
    }
}