<div class="row">
  <swiper class="carrousel" data-aos="fade-up" data-aos-delay="100"
    [direction]="'vertical'"
    [slidesPerView]=1
    [spaceBetween]=1
    [mousewheel]=true
    [pagination]="{ clickable: true }"
    class="mySwiper"
  >
    <ng-template swiperSlide *ngFor="let obj of time_line">
      <h3> {{ obj.year }} </h3>
      <p class="f-28" id="description"> {{ obj.description | translate }} </p>
    </ng-template>
  </swiper>

  <figure class="picture" data-aos="fade-up" data-aos-delay="300"
  >
    <img class="my-picture" src="../../../assets/imagens/webp/picture-minha.webp" alt="my picture">
    <div class="social">
      <a aria-label="link Github" href="https://github.com/Guilhermee19" rel="noopener" target="_blank"><span>Github</span></a>
      <a aria-label="link CodePen" href="https://codepen.io/Guilhermee19" rel="noopener" target="_blank"><span>CodePen</span></a>
      <a aria-label="link Linkedin" href="https://www.linkedin.com/in/gui-santana/" rel="noopener" target="_blank"><span>Linkedin</span></a>
      <a aria-label="link E-mail" href="mailto:eu@iamgui.dev" rel="noopener" target="_blank"><span>E-mail</span></a>
      <!-- <a href="https://bere.al/guix_1998" rel="noopener" target="_blank"><span>BeReal</span></a> -->
    </div>
  </figure>

  <strong class="json-info f-22" data-aos="fade-up" data-aos-delay="450"
  >
    <span> {{'"developer" : {'}} </span><br>
      <span>first_name:</span> 'Guilherme' ,<br>
      <span>last_name:</span> 'Santana Rocha' ,<br>
      <span>age:</span> {{ calcularIdade('1998-07-19') }} ,<br>
      <span>date_of_birth:</span> 1998-07-19 ,<br>
      <span>nationality:</span> 'Brazilian' ,<br>
      <span>state:</span> 'RJ'<br>
    <span> {{'}'}} </span>
  </strong>
</div>
