form{
  width: 90%;
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;

  .card-input{
    width: calc(50% - 10px);
    display: flex;
    flex-direction: column;

    &.w-100{
      width: 100%;
    }

    label{
      color: var(--white);
    }
  }
}
