
.body {
  width:100vw;
  // min-height:100vh;
  font-size: 10px;
  display:flex;
  justify-content: center;
  align-items:center;
  transform-style: preserve-3d;
  perspective: 100em;

  z-index: 8888888;
  // background-color: rgba(0, 169, 236, 0.4);
  // // background-color: rgba(0, 0, 0, 0.4);
  // backdrop-filter: blur(2px);
}

@keyframes block-animation {
  from{
      transform: rotateY(0deg);
  }
  to{
    transform: rotateY(360deg);
  }
}


.block{
    position: relative;
    width: 20em;
    height: 20em;

    transform-style: preserve-3d;
    transform-origin: center;
    transform: rotateY(0deg);
    animation: block-animation 5s linear infinite;

    &__shadow{
        width: calc(20em/2);
        height: calc(20em/2);
        $bg-color: rgba(#000000, 0.5);
        box-shadow: calc((20em/2 ) + 5em) calc((20em/2 ) + 5em) 5em 1em $bg-color;
        transform-origin: top;
        transform: translateY(calc(20em * 2 )) translateX(calc((20em/2 ) * -1)) translateZ(20em) rotateX(-90deg);
    }
    &__hole{
        --padding: 0.7em;
        --hole-size: 1.8em;
        background: radial-gradient( #977d18 70%, #f2cb03 );
        width: var(--hole-size);
        height:var(--hole-size);
        border-radius: calc(var(--hole-size)/2);
        position:absolute;
        top: var(--padding);
        left: var(--padding);
        box-shadow: inset 0.1em 0.2em 0 rgba(0,0,0,0.5);

        &--bottom{
            bottom:var(--padding);
            top: initial;
        }

        &--right{
            left: initial;
            right: var(--padding);
        }
    }

    &__cover, &__side{
        position:absolute;
        top:0;
        left:0;
        background-color: var(#f2cb03);
        width: 20em;
        height: 20em;
        display:flex;
        justify-content: center;
        align-items:center;
        transform-style: preserve-3d;
    }
    &__cover{
        &--top{
            transform-origin: bottom;
            transform: translateZ(calc((20em ) / 2)) translateY(calc((20em * -1)) ) rotateX(90deg);
        }

        &--bottom{
            transform-origin: top;
            transform: translateZ(calc((20em ) / 2)) translateY(calc(20em )) rotateX(-90deg);
        }
    }

    &__side{
        box-shadow: 0px 0px 2em 0.5em rgba(#f2cb03, 0.6);
        background-color: #f2cb03;
        &--a{
            transform-origin: top;
            transform: translateZ(calc((20em) / 2));
        }
        &--b{
            transform-origin: left;
            transform: translateZ(calc((20em ) / 2)) translateX(calc(20em )) rotateY(90deg);

        }
        &--c{
            transform-origin: top;
            transform: rotateY(180deg) translateZ(calc(20em / 2)) ;
        }
        &--d{
            transform-origin: right;
            transform: translateZ(calc((20em ) / 2)) translateX(calc(20em * -1) ) rotateY(-90deg);
        }
    }
}

.qm{
    --width: 12em;
    --height: 14em;
    --line-width: 3.5em;
    width:var(--width);
    height:var(--height);
    position:relative;
    transform: translateZ(calc(2em/2));
    transform-style: preserve-3d;

    &__top, &__dot{
        position:absolute;
        transform-style:preserve-3d;
    }

    &__top{
        width:var(--width);
        height: 10.45em;

    }

    &__dot{
        --width: var(--line-width);
        --height:  2.3em;
        background-color: var(--block-qm);
        width: var(--width);
        height: var(--height);
        bottom:0;
        right:4.079em;
        .cube__side, .cube__cover{
            background-color: #f2f2f3;
        }
        .cube__side--left{
            background-color: #FFFFFF;
        }
        .cube__side--bottom, .cube__side--right {
            background-color: #e0e0e0;
        }
    }

    &--shadow{
        --shadow-color: var(#f2cb03);
        position: absolute;
        z-index: -1;
        filter: drop-shadow(0.4em 0.8em 0.5em rgba(0,0,0,0.5));
        transform: none;
        .qm-top__part, .qm__dot{
            background-color: var(--shadow-color);
        }


    }
}

.qm-top{

    &__part{
        position:absolute;
    }

    &__corner{
        --width: 1.9em;
        --height: 3.45em;
        width: var(--width);
        height: var(--height);

        &--left{
            transform-origin: top right;
            transform: translateX(-0.55em) rotateZ(-45deg);

            .cube__side, .cube__cover{
                background-color: #f2f2f3;
            }
            .cube__side--top{
                background-color: #FFFFFF;
            }
            .cube__side--bottom{
                background-color: #e0e0e0;
            }
        }

        &--top-right{
            transform-origin: top left;
            transform: translateX(0.55em) rotateZ(45deg);
            top:0;
            right:0;
            .cube__side, .cube__cover{
                background-color: #f2f2f3;
            }
            .cube__side--bottom, .cube__side--top{
                background-color: #e0e0e0;
            }
        }

        &--bottom-right{
            right:0;
            transform-origin: bottom right;
            transform:  rotateZ(-45deg);
            top:2.65em;
            .cube__side, .cube__cover{
                background-color: #f2f2f3;
            }
            .cube__side--bottom, .cube__side--top{
                background-color: #e0e0e0;
            }
        }
        &--bottom-left{
            right:3.8em;
            transform-origin: bottom right;
            transform:  rotateZ(-45deg);
            top: 3.96em;
            .cube__side, .cube__cover{
                background-color: #f2f2f3;
            }
            .cube__side--bottom, .cube__side--top{
                background-color: #e0e0e0;
            }
        }

        &--top-left{
            top:0;
        }
    }

    &__large-top{
        --width: 9.3em;
        --height: 2.45em;
        width: var(--width);
        height: var(--height);
        top:0;
        left: calc(50% - (var(--width)/2));

        .cube__side, .cube__cover{
            background-color: #f2f2f3;
        }
        .cube__side--top{
            background-color: #FFFFFF;
        }
        .cube__side--bottom {
            background-color: #e0e0e0;
        }
    }

    &__top-left{
        --width: var(--line-width);
        --height: var(--line-width);
        width: var(--width);
        height: var(--height);
        top: 1.35em;
        left:0;
        .cube__side, .cube__cover{
            background-color: #f2f2f3;
        }
        .cube__side--left{
            background-color: #FFFFFF;
        }
        .cube__side--bottom, .cube__side--right {
            background-color: #e0e0e0;
        }
    }
    &__top-right{

          --width: var(--line-width);
        --height: 4.75em;
        width: var(--line-width);
        height:var(--height);
        top: 1.35em;
        right:0;

        .cube__side, .cube__cover{
            background-color: #f2f2f3;
        }
        .cube__side--left, .cube__side--right {
            background-color: #e0e0e0;
        }
    }

    &__middle-hor{
        --past-height: var(--height);
        --width: 4.879em;
        --height: 2.5em;
        width: var(--width);
        height: var(--height);


        top:4.95em;
        right:1.35em;
        .cube__side, .cube__cover{
            background-color: #f2f2f3;
        }
        .cube__side--bottom, .cube__side--top {
            background-color: #e0e0e0;
        }
    }
    &__center-bottom{
    --width: var(--line-width);
        --height: var(--line-width);
        width: var(--width);
        height: var(--height);
        top: 6.35em;
        right:4.079em;
        .cube__side, .cube__cover{
            background-color: #f2f2f3;
        }
        .cube__side--left{
            background-color: #FFFFFF;
        }
        .cube__side--bottom, .cube__side--right {
            background-color: #e0e0e0;
        }
    }
}

.cube{

    perspective: 500em;
    perspective-origin: center;
    transform-style: preserve-3d;


    &__side{

        position:absolute;
        top:0;
        left:0;

        --side-width: var(--width);
        --side-height: 2em;
        width:var(--side-width);
        height:var(--side-height);
        display:flex;
        justify-content: center;
        align-items:center;

        &--top{
            transform-origin: bottom;
            transform: translateZ(calc((2em ) / 2)) translateY(calc((var(--side-height) * -1)) ) rotateX(90deg);
        }

        &--left, &--right{
            --side-width: 2em;
            --side-height: var(--height);

        }

        &--left{

            transform-origin: right;
            transform: translateZ(calc((2em ) / 2)) translateX(calc(var(--side-width) * -1) ) rotateY(-90deg);
        }

        &--right{
            transform-origin: left;
            transform: translateZ(calc((2em ) / 2)) translateX(calc(var(--width) )) rotateY(90deg);
        }
        &--bottom{
            transform-origin: top;
            transform: translateZ(calc((2em ) / 2)) translateY(calc(var(--height) )) rotateX(-90deg);
        }
    }

    &__cover{
        transform-origin: top;
        width: var(--width);
        height: var(--height);
        position:absolute;

        &--front{
            transform: translateZ(calc((2em) / 2));
        }
        &--back{
            transform: rotateY(180deg) translateZ(calc(2em / 2)) ;
        }
    }


}
