@import "../../../styles/media";
main {
  position: relative;
  width: 100%;
  height: max-content;
  min-height: 100dvh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-direction: center;
  justify-content: center;
  overflow: hidden;
  // background: rgb(11,47,124);
  // background: linear-gradient(127deg, rgba(11,47,124,1) 0%, rgba(12,28,63,1) 100%);

  .container{
    width: 90%;
    max-width: var(--w-max);
    display: flex;
    flex-direction: column;
    flex-direction: center;
    justify-content: center;
    margin: 0 auto;
  }

  footer{
    background-color: var(--gray-primary);
    z-index: 50;
    padding: 15px;

    p{
      color: var(--white);
      text-align: center;

      span{
        cursor: pointer;
      }
    }
  }
}
