main {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-direction: center;
  justify-content: center;
  // overflow-x: hidden;
  // background-image: url("../../../assets/imagens/Walpaper room night.gif");
  // background-position: bottom;
  // background-size: cover;
  // background-repeat: no-repeat;

  #img_background_gif{
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    object-fit: cover;
    opacity: 1;
    filter: blur(4px);
    z-index: 0;
  }

  #img_background{
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    object-fit: cover;
    z-index: 0;
  }

  section {
    position: relative;
    width: 100%;
    margin: 0 auto;

    h1 {
      width: 100%;
      font-size: 2.2rem;
      text-align: left;
      text-indent: 1.5em;
      color: var(--white);

      @media screen and (max-width: 500px){
        font-size: 1.7rem;
      }

      strong{
        font-size: 1.5rem;
        color: var(--blue);
        padding-right: 10px;
      }
    }

    &.start{
      // width: 100%;
      height: 100vh;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      .presentation{
        width: 50%;
        padding-left: 10%;

        h1{
          margin-bottom: 20px;
        }

        h4{
          color: var(--white);
          text-indent: 1.5em;
        }
      }

      app-terminal{
        width: 50%;
      }

      @media screen and (max-width: 890px) {
        flex-direction: column;
        justify-content: center;

        .presentation{
          width: 100%;
          padding: 10%;
        }
        app-terminal{
          width: 90%;
        }
      }
    }

    &.projects {
      // width: 100%;
      height: 90vh;
      margin-top: 100px;;
      background-color: var(--bg-primary);
      // background-image: url("../../../assets/imagens/Walpaper room night.gif");
      // background-position: bottom;
      // background-size: cover;
      // background-repeat: no-repeat;

      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .clip_path {
      width: 100%;
      height: 100px;
      margin-top: -100px;;
    }

    &.skills {
      width: 100%;
      height: 90vh;
      background-color: var(--bg-secondary);

      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      .left {
        width: 50%;
        padding: 0 30px;

        .row {
          display: flex;
          justify-content: flex-start;
          align-items: flex-start;
          gap: 10px;

          &:nth-child(even) {
            margin-left: 55px;
          }

          .hexagon {
            width: 100px;
            height: 50px;
            background-color: #D9D9D9;
            position: relative;
            margin: 20px 0;
            display: flex;
            justify-content: center;
            align-items: center;

            img{
              position: relative;
              width: 70%;
              object-fit: contain;
              z-index: 20;
            }

            &:before,
            &:after {
              content: "";
              position: absolute;
              width: 0;
              border-left: 50px solid transparent;
              border-right: 50px solid transparent;
            }

            &:before {
              bottom: 100%;
              border-bottom: 35px solid #D9D9D9;
            }

            &:after {
              top: 100%;
              left: 0;
              width: 0;
              border-top: 35px solid #D9D9D9;
            }
          }
        }
      }

      .right_select{
        width: 50%;
        padding: 0 30px;
      }
    }

    &.abount{
      width: 100%;
      height: 50vh;
      background-color: var(--bg-primary);
    }
  }

  footer{
    background-color: var(--gray-primary);
    z-index: 50;
    padding: 15px;

    p{
      color: var(--white);
      text-align: center;
    }
  }
}
