* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    background: #0c0c0c;
}

section {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;

    video{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.hero {
    display: flex;
    flex-direction: row;
    gap: 15px;

    .static_text {
        color: #fff;
        font-size: 64px;
        font-weight: 400;
    }

    .dymanic_text {
        // margin-left: 15px;
        height: 96px;
        line-height: 96px;
        overflow: hidden;

        li {
            list-style: none;
            color: #16f37d;
            font-size: 64px;
            font-weight: 500;
            position: relative;
            top: 0;
            animation: slide 6s steps(2) infinite;
        }

        @keyframes slide {
            100% {
                top: -190px;
            }
        }

        li span{
            position: relative;
            margin: 5px 0;
            line-height: 96px;
            text-align: left;
        
            &::after{
                content: "";
                position: absolute;
                left: 0;
                height: 85px;
                width: 100%;
                background: #0c0c0c;
                border-left: 2px solid #16f37d;
                animation: line_ping 3s steps(9) infinite;
            }

            @keyframes line_ping {
                40%{
                    left: calc(100% + 56px);
                }
                100%{
                    left: 0;
                }
            }
        }

        
    }
}