<app-navbar></app-navbar>

<main>
   <app-presentation></app-presentation>

   <section class="projects">
      <div class="clip_path left top gray"></div>
      <h1> {{ 'projects' | translate }} </h1>
      <app-carousel-projects></app-carousel-projects>
      <div class="clip_path right inverse down blue"></div>
   </section>

   <!-- <section class="skills">
      <div class="left">
         <div class="row">
            <div class="hexagon">
               <img src="../../../assets/icons/Html5 logo.png" alt="">
            </div>
            <div class="hexagon">
               <img src="../../../assets/icons/Css logo.png" alt="">
            </div>
         </div>
         <div class="row">
            <div class="hexagon">
               <img src="../../../assets/icons/Javascript logo.png" alt="">
            </div>
            <div class="hexagon">
               <img src="../../../assets/icons/Angular logo.png" alt="">
            </div>
            <div class="hexagon"></div>
         </div>
         <div class="row">
            <div class="hexagon"></div>
            <div class="hexagon">
               <img src="../../../assets/icons/Typescript logo.png" alt="">
            </div>
            <div class="hexagon">
               <img src="../../../assets/icons/Git logo.png" alt="">
            </div>
            <div class="hexagon"></div>
         </div>
         <div class="row">
            <div class="hexagon">
               <img src="../../../assets/icons/React log.png" alt="">
            </div>
            <div class="hexagon">
               <img src="../../../assets/icons/Vercel.png" alt="">
            </div>
         </div>
         <div class="row">
            <div class="hexagon"></div>
         </div>
      </div>

      <div class="right_select">
         <h1> Habilidades </h1>

         <div style="height: 100px;"></div>
      </div>

      <div class="clip_path right inverse down gray"></div>
   </section> -->

   <!-- <section class="abount">
      <h1> Sobre mim </h1>

      <div>
         <img src="../../../assets/imagens/picture minha.png" alt="">
      </div>
   </section> -->
</main>
