<main>
  <section class="start">
    <div class="title_name">
      <h2>{{ "terminal.hello_i_am" | translate }}</h2>
      <h1><span>Guilherme</span> Santana</h1>
      <h2>{{ "terminal.i_am" | translate }} <span>{{ "terminal.front_end_developer" | translate }}</span></h2>
    </div>
    <app-vertical-scroll></app-vertical-scroll>
  </section>

  <section class="about">
    <header>
      <h4>01.</h4>
      <h3> {{ "about_me" | translate }}</h3>
    </header>

    <app-about-me></app-about-me>
  </section>

  <section class="projects">
    <header>
      <h4>02.</h4>
      <h3> {{ "projects" | translate }}</h3>
    </header>
    <app-carousel-projects></app-carousel-projects>
  </section>

  <section class="skills">
    <header>
      <h4>03.</h4>
      <h3> {{ "skills" | translate }}</h3>
    </header>
    <app-skills></app-skills>
  </section>

  <!-- <section class="easter-eggs">
    <app-block></app-block>
    <img id="cuboMario" src="../../../assets/imagens/Cubo Mario.png" alt="">
  </section> -->

  <footer>
    <p>© Copyright {{ year }} - Guilherme Santana</p>
  </footer>
</main>
