<section class="contact">
  <header data-aos="fade-up">
    <h3> <strong class="f-32">04.</strong>  {{ "contact" | translate }} </h3>
  </header>

  <div class="mensege">
    <div class="notebook-sheet">
      <div class="sample">
        <div class="editor">
          <ul class="numbers">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
          </ul>

          <div class="code-wrapper">
            <div class="ng-scroll-content">
              <pre>
                <code>
                  <p class="line"> <span class="pen-letter">{{ "name" | translate }}:</span> {{ form.name }}</p>
                  <p class="line"> </p>
                  <p class="line"> <span class="pen-letter">{{ "email" | translate }}:</span> {{ form.email }} </p>
                  <p class="line"> </p>
                  <p class="line"> <span class="pen-letter">{{ "message" | translate }}:</span> {{ form.message }} </p>
                  <p class="line"> </p>
                </code>
              </pre>
            </div>
          </div>

        </div>
      </div>
    </div>

    <!-- <form
      [formGroup]="contact_form"
      (submit)="onSubmit($event)"
      name="contact" method="POST" data-netlify="true"
      action="/#contact?success=true"
    > -->
    <form
      (submit)="onSubmit($event)"
      name="contact" method="POST" netlify
      action="/#contact?success=true"
    >
      <div class="card_input">
        <label for="name">  {{ "name" | translate }} </label>
        <input
          id="name"
          type="text"
          name="name" (keyup)="getInfo('name')"
        />
      </div>

      <div class="card_input">
        <label for="email"> {{ "email" | translate }} </label>
        <input
          id="email"
          type="email"
          name="email" (keyup)="getInfo('email')"
        />
      </div>

      <div class="card_input">
        <label for="message"> {{ "message" | translate }} </label>
        <textarea matInput name="message" (keyup)="getInfo('message')" id="message" title="message" name="message"></textarea>
      </div>

      <button class="primary" mat-button type="submit"> {{ "send" | translate }} <i icon="send"></i> </button>
    </form>

  </div>
</section>
