<!-- <div id='cursor'></div> -->

<div id="div1">
  <a href="#">HTML</a>
  <a href="#">CSS</a>
  <a href="#">SCSS</a>
  <a href="#">Javascript</a>
  <a href="#">Git</a>
  <a href="#">Netlify</a>
  <a href="#">Typescript</a>
  <a href="#">Angular</a>
  <a href="#">Linux</a>
  <a href="#">Vercel</a>
  <a href="#">React</a>
  <a href="#">Figma</a>
  <a href="#">Three</a>
  <a href="#">Bitbucket</a>
  <a href="#">Django</a>
  <a href="#">Photoshop</a>
  <a href="#">Python</a>
</div>

<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1280 500" preserveAspectRatio="xMidYMid slice">
  <g>
    <polygon  id="restartPolygon" points="937.4 397.3 937.4 359.3 970.4 340.2 1003.3 359.3 1003.3 397.3 970.4 416.3 937.4 397.3"/>
    <text id="restartText" fill="#fff" dy="1.5%" dx="-27">Restart</text>
  </g>
</svg>
