#all {
  margin: 160px auto;
  width: 100px;
  height: 100px;
  -webkit-animation: grow 4s;
/*   animation-timing-function: ease-in; */
    -webkit-animation-delay:0.5s;
  animation-fill-mode: forwards;
  /*Safari and Chrome*/
}

.script {
  font-family: Microsoft YaHei;
  color: #fff;
  font-size: 40px;
  display: block;
  position: relative;
  /*   text-align: left; */
}

.java {
  font-family: Microsoft YaHei;
  color: #fff;
  font-size: 40px;
  display: block;
  position: relative;
}

.java:before {
  content: "";
  display: block;
  position: absolute;
  left: 85px;
  width: 20px;
  height: 100%;
  background-color: red;
  -webkit-animation-delay: 2s ;
  -webkit-animation: grow 4s;
/*   animation-timing-function: ease-in; */
   -webkit-animation-delay:0.5s;
  animation-fill-mode: forwards;
  /*Safari and Chrome*/
}

@-webkit-keyframes grow
/*Safari and Chrome*/

{
  from {
    width: 0px;
  }
  to {
    width: 480px;
  }
}

#div1 {
  position: relative;
  width: 800px;
  height: 450px;
  margin: -300px auto 0;
}

#div1 a {
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Microsoft YaHei;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  padding: 3px 6px;
}
