@import "../../../../styles/media";

section.skills {
  position: relative;
  width: 100%;
  min-height: 75vh;

  @include media(">=2000px") {
    min-height: 100%;
    max-height: var(--h-max);
  }

  header{
    width: 90%;
    margin-bottom: 1rem;

    h3{
      width: 100%;
      color: var(--blue);
      line-height: 1;

      strong{
        color: var(--white);
        line-height: 1;
      }
    }
  }

  .list-skills{
    $animationSpeed: 60s;
    $qtdSkills: 12;

    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 10rem;

    .brands-list{
      overflow: hidden;

      .wrapper{
        height: 100%;
        // background: rgba(0, 0, 0, 0.2);
        // box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125);
        padding: .5rem 0;

        display: grid;
        grid-auto-flow: column;
        grid-auto-columns: 15rem;

        justify-items: stretch;
        animation: scroll $animationSpeed linear infinite;

        &.reverse{
          animation-direction: reverse;
        }

        &:hover {
          animation-play-state: paused;
        }

        figure{
          height: 90px;

          img{
            height: 100%;
            object-fit: contain;
          }
        }
      }
    }

    @keyframes scroll {
      to{
        translate: calc($qtdSkills * -15rem);
      }
    }
  }
}


