<div class="typewrtite card_terminal" cdkDrag *ngIf="open">
  <div class="mouse_move" cdkDragHandle> terminal - code - 80x24 </div>

  <div class='circle red' (click)="open = !open"></div>
  <div class='circle yellow'></div>
  <div class='circle green' routerLink="/gamer"></div>

  <input type="text" prefix="C:\GuiDev\" placeholder="h" mask="A*" [(ngModel)]="code" (keyup.enter)="checkComand()" >

  <span class="effect">
      <h3 class="f-20"> {{ 'terminal.hello_i_am_is' | translate }} </h3>
      <h3 class="f-32"> <span class="text_blue">Guilherme</span> Santana </h3>
      <h3 class="f-20"> {{ 'terminal.i_am' | translate }} <span class="text_blue">{{ 'terminal.front_end_developer' | translate }} </span> </h3>
  </span>
</div>

<nav>
  <div class="icon">
    <img class="terminal" src="../../../assets/icons/Windows_Terminal.png" alt="" (click)="open = !open">
    <div class="line" [ngClass]="{'icon_open': open}"></div>
  </div>
</nav>
