/* You can add global styles to this file, and also import other style files */

@import "styles/variables";
@import "styles/clip-gray.scss";
@import "styles/font-size.scss";

*{
    margin: 0;
    padding: 0;
    outline: none !important;
    font-family: 'Chakra Petch';
    box-sizing: border-box !important;
}

html{
  background: var(--bg-primary);
  scroll-behavior: smooth !important;
}

section {
  position: relative;
  width: 100%;
  margin: 0px auto;

  header{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    h4{
      color: var(--blue);
      padding-right: 5px;
    }

    h3 {
      width: 100%;
      text-align: left;
      color: var(--white);
    }
  }
}


.svg-inline--fa {
  display: inline-block;
  height: 1em;
  overflow: visible;
  vertical-align: -0.125em;
}

.cdk-overlay-connected-position-bounding-box{
  position: fixed !important;
  top: 50px !important;
  right: 5px !important;
  width: max-content !important;
  height: max-content !important;
  display: flex;
  justify-content: flex-end;
}

/* scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: var(--blue);
  border-radius: 7px;
}

::-webkit-scrollbar-thumb {
  background: var(--white);
  border-radius: 7px;
}
