@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~bootstrap/dist/css/bootstrap.min.css';

@import '~@angular/material/theming';
@include mat-core();

$my-portfolio-primary: mat-palette($mat-indigo);
$my-portfolio-accent: mat-palette($mat-pink, A200, A100, A400);

$my-portfolio-warn: mat-palette($mat-red);

$my-portfolio-theme: mat-light-theme((
  color: (
    primary: $my-portfolio-primary,
    accent: $my-portfolio-accent,
    warn: $my-portfolio-warn,
  )
));

@include angular-material-theme($my-portfolio-theme);

/* You can add global styles to this file, and also import other style files */
html, body{
    padding: 0;
    margin: 0;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
