/* You can add global styles to this file, and also import other style files */
@import "styles/clip-gray.scss";
@import "styles/font-size.scss";

*{
    margin: 0;
    padding: 0;
    outline: none !important;
    font-family: 'Chakra Petch';
    box-sizing: border-box !important;
}

:root{
  --bg-primary: #041328;
  --bg-secondary: #0F468E;
  --bg-navbar: rgba(0, 0, 0, 0.1);
  --white: #deeaff;
  --blue: #0270FF;
  --gray: #D9D9D9;

  --gray-primary: #1A1A1A;
  --gray-secondary: #282828;

  --shadow: rgba(0, 0, 0, 0.3)
}

html{
  background: var(--bg-primary);
  scroll-behavior: smooth !important;
}

.svg-inline--fa {
  display: inline-block;
  height: 1em;
  overflow: visible;
  vertical-align: -0.125em;
}


/* scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: var(--shadow);
  border-radius: 7px;
}

::-webkit-scrollbar-thumb {
  background: var(--gray-primary);
  border-radius: 7px;
}
