<section>
    <div class="typewrtite card_terminal effect_move">
        <div class='circle red'></div>
        <div class='circle yellow'></div>
        <div class='circle green' routerLink="/game"></div>

        <span class="effect">
            <h3 class="f-20"> {{ 'terminal.hello_i_am_is' | translate }} </h3>
            <h3 class="f-32"> <span class="text_blue">Guilherme</span> Santana </h3>
            <h3 class="f-20"> sou <span class="text_blue">{{ 'terminal.front_end_developer' | translate }} </span> </h3>
        </span>
    </div>
</section>
