main{
  position: relative;
  padding: 70px 10% 0px;
  .alert{
    position: absolute;
    top: 0;
    right: 0;
    color: white;
    padding: 10px;
  }

  header{
    h1{
      color: var(--white);
    }
  }
}
