<main>
  <!-- <div class="alert">
    Modo Gamer Play desbloqueado !
  </div> -->
  <header>
    <h1> Area de Jogos </h1>
  </header>

  <section *ngIf="name_game == 'null'">
    <app-game-boy
      [list_games]="list_games"
      [index]="index"
      (gameboy)="nextOrBack($event)"
    ></app-game-boy>
  </section>

  <section [ngSwitch]="name_game">
    <app-memory-game *ngSwitchCase="'memory-game'"></app-memory-game>
    <app-tic-tac-toe *ngSwitchCase="'tic-tac-toe'"></app-tic-tac-toe>
  </section>
</main>
